.produto {
    border: 1px solid rgb(160, 158, 158);
    border-radius: 6px;
    width: 80%;
    padding: 15px;
    display: flex;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
}

.nomeMarca {
    display: flex;
    flex-direction: column;
}

.qtd {
    border: 0.5px solid black;
    border-radius: 6px;
    width: 50px;
    display: flex;
    justify-content: center;
}

.valorExcluir {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pagamentoEndereco {
    width: 80%;
    display: flex;
}

.endereco {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
    border: 1px solid rgb(160, 158, 158);
    border-radius: 8px;
}

.divEstadoCidade {
    margin-top: 5px;
    display: flex;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(160, 158, 158);
}

.estado {
    margin-right: 20%;
}

.divOutros {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.divBotoes {
    display: flex;
    justify-content: space-between;
}

.botaoSelecao {
    padding: 4px;
    border: 1px  solid black;
    background-color: #66b9bf;
    color: white;
    border-radius: 6px;
}