.spanEndereco {
    margin: 15px;
    margin-bottom: 40px;
}

.spanEndereco:hover {
    cursor: pointer;
    text-decoration: underline;
}

.divPrincipal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalEndereco {
    justify-content: space-evenly;
    padding: 25px;
    width: 50%;
    height: 60%;
    border: 1px solid rgb(114, 113, 113);
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
}

.selectPais {
    padding: 7px;
    width: 30%;
    color: rgb(146, 144, 144);
}

.selectEstado {
    color: rgb(145, 142, 142);
    padding: 7px;
    width: 25%;
}

.botaoAdicionar {
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 6px;
    background-color: #66b9bf;
    padding: 10px;
    color: white;
}