<app-navbar style="width: 100vw;"></app-navbar>
<div style="display: flex; flex-direction: column; align-items: center;">
  <div class='divConta'>
    <span class="spanCima" (click)="conta()">Conta</span>
    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="10" height="30" viewBox="0 0 172 172"
      style=" fill:#000000; margin-right: 20px;">
      <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter"
        stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none"
        font-size="none" text-anchor="none" style="mix-blend-mode: normal">
        <path d="M0,172v-172h172v172z" fill="none"></path>
        <g fill="#000000">
          <path
            d="M68.8,154.8h-11.46667c-2.21307,0 -4.2312,-1.27853 -5.18293,-3.27947c-0.95173,-2.00093 -0.65933,-4.3688 0.74533,-6.0888l48.63013,-59.43173l-48.63013,-59.43747c-1.40467,-1.71427 -1.69133,-4.08213 -0.74533,-6.0888c0.946,-2.00667 2.96987,-3.27373 5.18293,-3.27373h11.46667c1.72,0 3.34827,0.774 4.4376,2.10413l51.6,63.06667c1.72573,2.1156 1.72573,5.14853 0,7.26413l-51.6,63.06667c-1.08933,1.3244 -2.7176,2.0984 -4.4376,2.0984z">
          </path>
        </g>
      </g>
    </svg>
    <span>Informações</span>
  </div>
  <h2>Informações da Conta</h2>
  <div class="divPrincipal">
    <div class="linhaa" style="border-bottom: 1px black solid;">
      <span style="font-weight: bold;">Nome: </span>
      <span>{{usuario}}</span>
      <button *ngIf="usuario != '-'" class="editar" (click)="editar('nome')">Editar</button>
      <button *ngIf="usuario == '-'" class="editar" (click)="editar('nome')">Adicionar</button>
    </div>
    <div class="linhaa" style="border-bottom: 1px black solid;">
      <span style="font-weight: bold;">E-mail: </span>
      <span>{{email}}</span>
      <button *ngIf="email != '-'" class="editar" (click)="editar('email')">Editar</button>
      <button *ngIf="email == '-'" class="editar" (click)="editar('email')">Adicionar</button>
    </div>
    <div class="linhaa" style="border-bottom: 1px black solid;">
      <span style="font-weight: bold;">Número de Telefone: </span>
      <span>{{telefone}}</span>
      <button *ngIf="telefone != '-'" class="editar" (click)="editar('telefone')">Editar</button>
      <button *ngIf="telefone == '-'" class="editar" (click)="editar('telefone')">Adicionar</button>
    </div>
    <div class="linhaa" style="border-bottom: 1px black solid;">
      <span style="font-weight: bold;">Senha: </span>
      <span>{{senha}}</span>
      <button *ngIf="senha != '-'" class="editar" (click)="editar('senha')">Editar</button>
      <button *ngIf="senha == '-'" class="editar" (click)="editar('senha')">Adicionar</button>
    </div>
    <div class="linhaa">
      <span style="font-weight: bold;">Data de Criação: </span>
      <span>{{criacao}}</span>
    </div>
  </div>
  <button class="excluir" (click)="excluir()">Excluir Conta</button>
</div>