.header2 {
    width: 98.8vw;
    display: flex;
    justify-content: center;
}

.divImagemPrincipal {
    margin-top: 20px;
    width: 98.8vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.carrossel {
    width: 40vw;
    margin-bottom: 40px;
}

.imagensCarrosel {
    width: 100%;
}

.preferencias {
    float: left;
    width: 80vw;
    padding-bottom: 5px;
    border-bottom: 0.5px solid rgb(99, 97, 97);
}

.layout {
    float: right;
    display: flex;
}

.imagensPreferencias {
    float: right;
}

.imagensPreferencias:hover {
    cursor: pointer;
}

.loja {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin-top: 15px;
}

.divEsquerda {
    padding: 10px;
    width: 25%;
    height: min-content;
    border-radius: 2px;
    background-color: #dfdce3;
    display: flex;
    flex-direction: column;
}

.divDireita {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.botaoCategoria {
    width: 11.1%;
    padding: 0.5%;
    border: 1px solid black;
    background-color: #66b9bf;
    font-weight: bold;
}