header {
    width: 100%;
    height: 13vh;
    background-color:#1e63d4;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.espaco {
    width: 100%;
    height: 13vh;
    background-color: red;
}

.logototal {
    width: 220px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cimalogo {
    display: flex;
    justify-content: center;
    margin-top: 14px;
    margin-left: 102px;
    margin-bottom: 10px;
    width: 100%;
    height: 29%;
}

.cimalogo:hover {
    cursor: pointer;
}

.logo:hover {
    cursor: pointer;
}

.logo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 71%;
    margin-bottom: 26px;
    text-decoration: none;
}

.book {
    font-size: 32px;
    font-weight: 600;
    color: white;
}

.caixap {
    margin-left: 30px;
    display: flex;
    width: 600px;
    height: 35%;
    background-color: rgb(240, 231, 231);
    border: solid 1px whitesmoke;
    border-radius: 6px;
    align-items: center;
}

.pesquisa {
    border: none;
    width: 90%;
    background-color: transparent;
    padding: 20px;
    outline:none;
}

.lupa {
    margin-top: 2px;
    border: none;
    background-color: transparent;
}

.lupa:hover {
    cursor: pointer;
}

.restoheader {
    height: 40%;
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.login {
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
}

.esclogin {
    margin-left: 10px;
    color: azure;
    font-size: 15px;
    font-weight: 400;
}

.sublinhado {
    font-weight: 700;
    text-decoration: none;
    color: azure;
}

.sublinhado:hover {
    cursor: pointer;
    text-decoration: underline;
}

.carrinho {
    margin-left: 55px;
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 70px;
}

.carrinho:hover {
    background-color: rgb(71, 80, 204);
    cursor: pointer;
}