<app-navbar></app-navbar>
<div>
  <div class="cancelar" (click)="voltar()">Cancelar</div>
  <div class="divPrincipal">
    <h4 style="margin: 20px; color: #66b9bf;">Selecionar Pagamento</h4>
    <div *ngFor="let pagamento of listaPagamentos; let i = index"
      style="display: flex; justify-content: center; width: 100%;">
      <div class=" divPagamento ">
        <div class="titular2">{{pagamento.TITULAR}}</div>
        <div class="numero">{{editarNumero(pagamento.NUMERO)}}</div>
        <button class="selecionarPagamento" (click)="selecionarPagamento(pagamento.CODIGO)">Selecionar</button>
      </div>
    </div>
    <div>
      <button class="selecionarPagamento" (click)="novo()">Novo Pagamento</button>
    </div>
  </div>
</div>