body {
    width: 100%;
    display: flex;
    justify-content: center;
}

.spanCima {
    margin-right: 20px;
}

.spanCima:hover {
    cursor: pointer;
    text-decoration: underline;
}

.botaoAdicionar {
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 6px;
    margin: 5px;
    background-color: #66b9bf;
    color: white;
}

.divBody {
    width: 80%;
    margin-top: 40px;
}

.divPagamento {
    margin-top: 20px;
    padding: 6px;
    border: 1px solid black;
    border-radius: 6px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.titular2 {
    color: #66b9bf;
    font-size: 20px;
    width: 40%;
    margin-left: 10px;
}

.numero {
    width: 30%;
}

.excluirPagamento {
    padding: 4px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #f7b733;
}